
body, html {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-image: url('Red_Banner_Transparent_PNG_Clip_Art_Image (1).png');
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
    background-position: center;
}

.logo {
    display: flex;
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 80px;
    padding-left: 186px;
}

.navbar ul {
    list-style-type:none;
    margin-right:380px;
    display: flex;
    gap: 48px;
}

.navbar ul li a {
    display: flex;
    color: black;
    font-weight: bold;
}

.navbar ul li a:hover {
    display: flex;
    text-decoration:goldenrod;
    font-size:2rem;
    transition-duration: 0.35s;
    text-decoration:none;
}

.section1, .section2, .section3, .section4 {
    display: flex;
    flex: 40%;
    background-color: yellow;
    gap: 10px;
    padding: 20px;
    margin: 10px;
}

.footer {
    flex:100%;
    background-color: darkred;
    padding: 20px;
    text-align: center;
}