body, html {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", sans-serif;
    background-color: white;
    background-repeat: no-repeat;
    transition: background-color 1.2s ease-in-out, color 0.900s ease-in-out, border 0.8s ease-in-out  ;
}

.fun{
    color: red;
}
@font-face {
    font-family: 'lovelyhome';
    src: url(LovelyHome-9aBZ.ttf) format("truetype");
}
@font-face {
    font-family: 'fine';
    src: url(LjDesignStudiosIs-3rgz.ttf) format("truetype");
}
@font-face {
    font-family: 'frog';
    src: url(PrincessAndTheFrog-XdMd.ttf)format("truetype");
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    text-align: center;
    align-items: baseline;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-image: url("red banner.gif");
    background-size: cover;
    background-color: #192a3e;
    object-fit: cover;
    background-position: center;
    padding-top: -400px;
    gap: 25px;
}

.logo {
    display: flex;
    font-size: 1em;
    font-weight: bold;
    padding-top: 22px;
    transition: ease-in-out 2.5s forward;
    transform: scale(130%);
}

.logo:hover {
    transform: scale(150%);
    transition: ease-in-out forward;
    animation-duration: 340ms;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    text-decoration: none;
    margin-right:20px;
    font-family: frog;
}

.Socialsbox, .Projectsbox, .Karrierebox {
    border-color:white;
    border-radius: 10px;
    border: 2px solid white;
    background-color:white;
}

.Projectsbox:hover, .Karrierebox:hover, .Socialsbox:hover {
    border-color: #fa5700;
    color: #fa5700;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    transform: scale(1.3);
}

.navbar ul li a {
    display: flex;
    text-decoration-line: none;
    font-size: 2rem;
    border-color: #ffffff;
    color: #fa5700;
}

.navbar ul li a:hover {
    display: flex;
    text-decoration: none;
    color: #fa5700;
    transform: scale(101%);
    transition-duration: 0.35s;
}

.darkModeButton {
    background-color: black;
    color: purple;
    padding: 10px 20px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.7s ease, color 0.7s ease;
}


.darkModeButton:hover {
    background-color: purple;
    color: black;
    border: 2px solid purple;
}


.h1 {
    display:flex;
    font-size: 3rem;
    justify-content: center;
    background-color: #192a3e;
    color: #fa5700;
    border: 22px solid #192a3e;
    border-radius: 77%;
    align-content: center;
    justify-content: center;
    margin-left:20%;
    margin-right:20%;
    font-family:"fine";
}


.h1:hover {
    transition-duration: 0.2s;
    font-size: 3rem;
    transition: ease-in-out 2.5s forward;
    background-color: #fa5700;
    color: #192a3e;
    border: 32px solid #fa5700;
    border-radius: 42%;
    transform:scale(125%);
}
.migjpg {
    margin-left:10%;
    margin-right:10%;
    background-color: #fa5700;
    color: #192a3e;
    border: 13px solid #fa5700;
    border-radius: 44% ;
    width: 100%;
    margin-top: 44px;
}
.h2 {
    display: flex;
    font-size: 2.7rem;
    color: #fa5700;
    background-color: #192a3e;
    color: #fa5700;
    border: 66px solid #192a3e;
    border-radius: 44%;
    align-content: center;
    justify-content: center;
    width:50%;
    margin-left: 45%;
    flex-direction: column;
    align-items: center;
    font-family: "lovelyhome";
}

.h2_txt {
    color: #fa5700;
    flex-direction: column;
    font-size: 1.9rem;
    background-color: #192a3e;
    color: #fa5700;
    border: 32px solid #192a3e;
    align-content: center;
    justify-content: center;
    margin-right:19%;
    width: 100%;
    margin-left:30%;
    border: 44px solid #192a3e;
    border-radius: 100%;
    align-items: center;
    font-family: fine;
}

.project\.jpeg {
    display: flex;
    width: 50%;
}

.sections {
    display: flex;
    flex-direction:column;
    align-items: center;
    transform: scale(70%);
}


.section1, .section3 {
    width: 70%;
    display: flex;
    flex: 100%;
    background-color: #fa5700;
    gap: 10px;
    padding: 20px;
    margin: 10px;
    margin-top: 240px;
    border: 30px solid #192a3e;
    font-size: 1.3rem;
    border-radius: 18%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-items: stretch;
    font-family:"Sylfaen";
}

.section2, .section4 {
    width:70%;
    display: flex;
    flex: 100%;
    background-color: #fa5700;
    gap: 10px;
    padding: 20px;
    margin: 10px;
    margin-top: 240px;
    border: 30px solid #192a3e;
    font-size: 1.3rem;
    border-radius: 18%;
    flex-direction: column-reverse;
}
.work\.png {
    transform: scale(100%);
    border: 5px solid #192a3e;
    border-radius: 50%;
}
.workshop{
    transform: scale(80%);
    border: 5px solid #192a3e;
    border-radius: 50%;
}
.Denmark {
    transform: scale(80%);
    border: 11px solid #192a3e;
    border-radius: 50%;
}

.headline {
    display: flex;
    border: 20px solid #192a3e;
    border-radius: 70%;
    justify-content: center;
    background-color: #192a3e;
    font-size: 4rem;
    color: white;
    font-family:"fine";
}
.link1 {
    font-size: 3rem;
    display: flex;
    text-decoration-line: none;
    border-radius: 17%;
    border-color: #192a3e;
    color: #fa5700;
    border: 13px solid #192a3e;
    background-color: white;
    width: 50%;
    justify-content: center;
    font-family:"fine";

    }
.linktxt1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.7rem;
}
.link1:hover {
    transform: scale(1.2);
    transition-delay: 0.4s;
    transition: ease-in-out 2.5s forward;
    border-color: #fa5700;
    color: #fa5700;
    border: 2px solid white;
    background-color:#192a3e;
    border-radius: 18%;
}
.link2 {
    font-size: 3rem;
    display: flex;
    text-decoration-line: none;
    border-radius: 17%;
    border-color: #192a3e;
    color: #fa5700;
    border: 13px solid #192a3e;
    background-color: white;
    width: 50%;
    justify-content: center;
    font-family:"fine";

}
.linktxt2{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.7rem;
}
.link2:hover {
    transform: scale(1.2);
    transition-delay: 0.4s;
    transition: ease-in-out 2.5s forward;
    border-color: #fa5700;
    color: #fa5700;
    border: 2px solid white;
    background-color:#192a3e;
    border-radius: 18%;
}
.link3 {
    font-size: 3rem;
    display: flex;
    text-decoration-line: none;
    border-radius: 17%;
    border-color: #192a3e;
    color: #fa5700;
    border: 13px solid #192a3e;
    background-color: white;
    width: 50%;
    justify-content: center;
    font-family:"fine";

}
.linktxt3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.7rem;
}
.link3:hover {
    transform: scale(1.2);
    transition-delay: 0.4s;
    transition: ease-in-out 2.5s forward;
    border-color: #fa5700;
    color: #fa5700;
    border: 2px solid white;
    background-color:#192a3e;
    border-radius: 18%;
}
.link4 {
    font-size: 3rem;
    display: flex;
    text-decoration-line: none;
    border-radius: 10px;
    border-color: #fa5700;
    color: #fa5700;
    border: 2px solid white;
    background-color: white;
}

.link4:hover {
    transform: scale(1.2);
    transition-delay: 0.4s;
    transition: ease-in-out 2.5s forward;
    border-color: #fa5700;
    color: #fa5700;
    border: 2px solid white;
    background-color:white;
    border-radius: 10px;
}
.link4 {
    font-size: 3rem;
    display: flex;
    text-decoration-line: none;
    border-radius: 10px;
    border-color: #fa5700;
    color: #fa5700;
    border: 2px solid white;
    background-color: white;
}
footer {
    background-color: #192a3e;
    font-family:"fine";
    color: #fa5700;
    text-align: center;
    width: 100%;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-row ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.footer-row ul li {
    display: inline-block;
    margin: 0 30px;
}

.footer-row ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
}

.footer-row ul li a:hover {
    text-decoration: underline;
}
